@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}


/*HEADER*/
a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

a:hover {
  text-decoration: none;
}

header {
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 99;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nomenav {
  font-size: 20px;
}

.logo img {
  height: 60px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0 10px;
}

ul a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 10px;
  transition: background-color .2s ease-in-out;
}

ul a:hover {
  background-color: #0157a4ff;
  text-decoration: none;
  color: #ffffff;
}
#menu{
  display: none;
}
#menu-aparece{
  display: none;
}
@media (max-width:600px) {
  #navigation{
    display: none;
  }
  #menu{
    display:flex;
  }
  #menu-aparece{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 90px;
    left: 0;
    width: 100vw;
    overflow: hidden;
    height: 0px;
    transition: 0.5s;

    background: rgba(246, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

  }
  #menu-aparece>ul{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    width: 100%;
  }
}

/*PRIMEIRA PARTE*/
section {
  min-height: 500px;
}

.sectionum {
  background-color: #0157a4ff;
  position: relative;
}

.caixa {
  box-shadow: 2px 2px 3px black;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.frase {
  text-align: center;
  color: white;
  font-size: 45px;
  position: absolute;
  z-index: 5;
  text-shadow: 2px 2px 1px black;
}
.frase>p{
  font-family: 'Londrina Solid', cursive;
}

#botao1 {
  border-radius: 25px;
  padding: 10px 15px;
  background-color: #ffffff;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color .2s ease-in-out;
}
#botao1:hover {
  background-color: #F63231;
  border-radius: 20px;
  text-decoration: none;
}
.frase a:hover {
  color: #ffffff;
}

/*INFOS*/
.sectiondois{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width:850px){
  .sectiondois,.sectiontres,.sectionquatro{
    flex-direction: column;
  }
  .sectiontres>.alvenaria{
    order: 2;
  }
  .sectiontres>.AlvenariaImg,.sectionquatro>.EletricaImg{
    padding-top: 10px;
  }
}
.sectiondois>img{
  display: block;
  margin: auto;
  height: 50px;
}

.sectiondois>p {
  text-align: center;
  font-size: 20px; 
  margin: 0 50px;
  padding: 25px 0;
}

/*ALVENARIA*/
.sectiontres {
  background-color: #0157a4ff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.alvenaria {
  text-align: center;
  color: #ffffff;
  padding-top: 100px;
  width: 550px;
  padding-bottom: 100px;
  color: white;
  font-size: clamp(1.75em,1em + 3vw,1.5em);
  word-wrap: break-word;
}

#botao2 {
  color: #e69e19;
  border-radius: 25px;
  padding: 10px 15px;
  background-color: #ffffff;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color .2s ease-in-out;
}
#botao2:hover{
  background-color: #e69e19;
  color: #ffffff;
  border-radius: 20px;
  text-decoration: none;
}

/*ELETRICA*/
.sectionquatro {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.eletrica {
  text-align: center;
  color: #000000;
  padding-top: 100px;
  width: 550px;
  padding-bottom: 100px;
  font-size: clamp(1.75em,1em + 3vw,1.5em);
  word-wrap: break-word;
}
#botao3 {
  color: #ffffff;
  border-radius: 25px;
  padding: 10px 15px;
  background-color: #b6bb00;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color .2s ease-in-out;
}
#botao3:hover{
  background-color: #ffffff;
  color: #b6bb00;
  border-radius: 20px;
  text-decoration: none;
}
@media (max-width:600px) {
  .EletricaImg{
    height: 350px;
    width: 350px;
  }
  .alvenaria>h1{
    font-size: 30px;
  }
  .alvenaria,.eletrica{
    width: auto;
    font-size: 20px; 
    margin: 0 50px;
    padding: 25px 0;
  }
  #botao2,#botao3{
    font-size: 20px;
  }
}
/**/
#wpp {
  right: 10px;
  position: fixed;
  bottom: 10px;
  z-index: 99999999999;
}

footer {
  background-color: #ffffff;
  align-items: center;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  text-align: center;
  font-size: 15px;
}

.footerfc p:nth-child(1) {
  font-size: 30px;
}


/*SPANS*/
.F {
  color: #F63231;
}
.C {
  color: #0157a4ff;
}
.S{
  color: #e69e19;
}
.E{
  color: #b6bb00;
}


::-webkit-scrollbar {
  width: 9px;
  background-color: #0157a4ff;
}

::-webkit-scrollbar-thumb {
  background-color: #F63231;
  border-radius: 15px;
}

.caixa,
.alvenaria.AlvenariaImg{
  visibility: hidden;
}